.cars__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 20px;
    justify-items: center;
    list-style: none;
    margin-inline: 10px;
}

