.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__item {
    width: 100%;
    list-style: none;
}

.cart__article {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart__car {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__block {
    gap: 10px;
    display: flex;
    align-items: center;
}

.cart__info {
    list-style: none;
    width: 300px;
}

.cart__text:first-child {
    font-weight: 600;
    font-size: 18px;
}

.cart__image {
    width: 250px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    border-radius: 15px;
    user-select: none;
}

.cart__quantity {
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 30px;
    overflow: hidden;
}

.cart__minus {
    border-right: 2px solid black;
}

.cart__plus {
    border-left: 2px solid black;
}

.cart__minus, .cart__plus {
    width: 40%;
    height: 100%;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
}

.cart__minus:hover {
    background-color: black;
    color: white;
}

.cart__plus:hover {
    background-color: black;
    color: white;
}

.cart__count {
    width: auto;
    text-align: center;
    user-select: none;
    font-size: 18px;
}

.cart__sum {
    font-size: 18px;
    width: 150px;
    text-align: center;
}

.cart__delete {
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.2s ease-in-out;
    justify-self: flex-end;
}

.cart__delete:hover {
    color: black;
}


@media (max-width: 1000px){
    .cart__article {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 640px){
    .cart__car {
        flex-direction: column;
        
    }
    .cart__article {
        align-items: center;
    }
    .cart__image {
        width: 300px;
    }
}