.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading {
    height: 100px;
    width: 100px;
    animation-name: load;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}